body {
  background-image: url("../imgs/signup-bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #000000d0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 700px;
  color: #fff;
}

.hero h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
}

.hero i {
  font-size: 1.7rem;
}

.signup {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--primary-color);
}

.form-control {
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
}

.form-control label {
  font-weight: 600;
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.signup-input {
  width: 100%;
  padding: 0.2rem 0.3rem;
  border: 0;
  border-bottom: 2px solid #5c5c5c;
  background-color: transparent;
  outline: none;
}

.signup-btn {
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.signup-text {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero {
    margin: 0.4rem;
  }

  .hero h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }

  .hero i {
    line-height: 1.7rem;
    font-size: 1.5rem;
  }

  .signup {
    width: 90%;
  }
}
